# Ignore node_modules folder
node_modules

# Ignore build output folder
/.next

# Ignore development files
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db
